.add-to-favories .added {
}
#remove-favorite {
  color: #009cff;
  &:hover {
    color: red;
  }
}
.cp-video-detail-outer {
  background-color: #000;
  text-align: center;
  #overlay {
    text-align: center;
    margin: 0 auto;
  }
}