.add-to-favories .added {
}
#remove-favorite {
  color: #009cff;
  &:hover {
    color: red;
  }
}
.cp-video-detail-outer {
  background-color: #000;
  text-align: center;
  #overlay {
    text-align: center;
    margin: 0 auto;
  }
}
.uk-grid{
  width: 100%;
  .uk-width-1-4{
    width: 25%;
    float: left;
  }
  &:after {
    display: table;
    content: "";
    clear: both;
  }
  .uk-thumbnail{
    width: 100%;
  }
}
