<div class="field-unit__label">
  <%= f.label field.attribute, field.attribute.to_s.titleize %>
</div>
<div class="field-unit__field">
  <%= f.select(field.attribute, nil, {}, multiple: true) do %>
    <%= options_for_select(field.associated_resource_options, field.selected_options) %>
  <% end %>
</div>