<%= form_tag("/schedule", method: "post", id: "tvForm") do %>

<div class="container desktop">
	<div class="row category-board">

		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>						
					</button>

				</div>
				<div id="navbar" class="navbar-collapse collapse">
					
					<ul class="categories-links">
						<li><a class="active" href="#">POPULAR</a> <span class="sr-only">(current)</span></li>
						<li><a href="#">FREE</a></li>
						<li><a href="#">SATELLITE</a></li>
						<li><a href="#">MOVIES</a></li>
						<li><a href="#">SPORT</a></li>
						<li><a href="#">KIDS</a></li>
						<li><a href="#">DOCUMENTARIES</a></li>
						<li><a href="#">MUSIC</a></li>
						<li><a href="#">NEWS</a></li>

						<li class="last">
							<ul class="view-links">
								<li><a href="#">LIST VIEW</a></li>		
								<li><a class="active" href="#">GRID VIEW</a></li>	
							</ul>
						</li>
					</ul>				

					
				</div><!--/.nav-collapse -->
			</div><!--/.container-fluid -->
		</nav>
	</div>
	
	<div class="row search-board">
		<div class="col-md-3 date-board"><p class="truncate"></p></div>
		<div class="col-md-9">
			<div class="search-bar relative-pos">
				<div class="center" style="width: 100%">
					<div class="col-md-3">					
						<div id="custom-search-input">
                            <div class="input-group">
                                <input type="text" class="search-query form-control" placeholder="Search Listings"  id="listings-search-term" name="listings_search_term"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button" id="listings-search-submit">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
						
					</div>

					<div class="col-md-6 listings-details-column listings-date-time-search row">
						<div class="col-md-6">
							<select id="listings-date-picker-date-select" name="listings_date_picker_date_select" class="listings-picker-select"></select>
						</div>

						<div class="listings-date-picker-time-total col-md-6">
							
							<select id="listings-date-picker-time-select" class="listings-picker-select" name="listings_date_picker_time_select"><optgroup label="Quick Jump"><option value="17">Primetime</option><option value="now">Now</option></optgroup><optgroup label="Times"><option value="00">12:00 AM</option><option value="01">1:00 AM</option><option value="02">2:00 AM</option><option value="03">3:00 AM</option><option value="04">4:00 AM</option><option value="05">5:00 AM</option><option value="06">6:00 AM</option><option value="07">7:00 AM</option><option value="08">8:00 AM</option><option value="09">9:00 AM</option><option value="10">10:00 AM</option><option value="11">11:00 AM</option><option value="12">12:00 PM</option><option value="13">1:00 PM</option><option value="14">2:00 PM</option><option value="15">3:00 PM</option><option value="16">4:00 PM</option><option value="17">5:00 PM</option><option value="18">6:00 PM</option><option value="19">7:00 PM</option><option value="20">8:00 PM</option><option value="21">9:00 PM</option><option value="22">10:00 PM</option><option value="23">11:00 PM</option></optgroup></select>
						
							<button id="listings-date-time-picker-go" class="btn-disabled">GO</button>
						</div>
					</div>
					<div class="col-md-3 listings-details-column listings-details-preferences-column">
						<a href="#" onclick="return false" id="listings-favorites-button"><i class="fa fa-heart fa-fw listings-button-icon"></i> Favorites</a>
						<a href="#" onclick="return false" id="listings-preferences-button"><i class="fa fa-gear fa-fw listings-button-icon"></i> Preferences</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="row" id="yield-area">
		
	</div>	
</div>
<% end %>

<script type="text/javascript">
	$(document).ready(function(){
		var tv_listing;
		var start_t;

		function init_date_picker() {
			var tmp_html = '';	
			var loop_date = moment(start_t);

			for (var i = 0; i < 14; i++) {
				tmp_html = tmp_html + "<option value='" + loop_date.format('YYYY-MM-DD HH:mm:ss') + "'>" + loop_date.format("dddd, MMM D") + "</option>";
				loop_date = moment(loop_date).add(1, 'day');
			}

			$('#listings-date-picker-date-select').html(tmp_html);

			$('#listings-date-picker-date-select option[value="' + moment(start_t).format('YYYY-MM-DD HH:mm:ss') + '"]').attr("selected", "selected");
		}

		function initialize() {
			tv_listing = <%= raw @tv_listing.to_json %>;
			console.log(tv_listing);

			init_date_picker();
			$('.listings-picker-select').attr('disabled', 'disabled');
			$('#listings-date-time-picker-go').attr('disabled', 'disabled');
			$("#listings-date-picker-date-select").select2({width: '100%'});
			$("#listings-date-picker-time-select").select2({width: '65%'});

			$('.date-board p').html("<%= raw @search_word %>");
		}

		initialize();

		function display_tv_listing() {
			var tmp_html = '';
			if(tv_listing.length == 0) {
				tmp_html = tmp_html + '<div class="center">No data to display</div>';
				$('#yield-area').addClass('no-data-board');
			} else {
				tmp_html = tmp_html + '<ul>';
				var loop_date = moment(tv_listing[0].listDateTime).set({'hour': 0, 'minute': 0, 'second': 0});
				tmp_html = tmp_html + "<li class='listings-timebar'>" + loop_date.format('dddd, MMMM D, YYYY') + "</li>"

				for (var i in tv_listing) {
					if(loop_date.diff(moment(tv_listing[i].listDateTime).set({'hour': 0, 'minute': 0, 'second': 0})) != 0) {
						loop_date = moment(tv_listing[i].listDateTime).set({'hour': 0, 'minute': 0, 'second': 0});
						tmp_html = tmp_html + "<li class='listings-timebar'>" + loop_date.format('dddd, MMMM D, YYYY') + "</li>"

					} 

					tmp_html =  tmp_html + '<li data-channel-number="' + tv_listing[i].channelNumber + '" data-channel-source="' + tv_listing[i].stationID + '" data-channel-name="' + tv_listing[i].callsign + '"><a href="#" class="listings-channel" style="width: 17.7%;"><span><img src="http://cdn.tvpassport.com/image/station/100x100/' + tv_listing[i].logoFilename + '" style="width: 30px; height: 20px"></span><span class="listings-channel-number-name"><span class="listings-channel-number-name-inner"><span class="listings-channel-number">' + tv_listing[i].channelNumber + '</span><span class="listings-channel-name">' + tv_listing[i].callsign + '</span></span></span></a><a href="#" class="listings-program" style="width: 82.3%;"><span class="listings-program-inner"><span class="listings-program-title">' + tv_listing[i].episodeTitle + '</span><span class="listings-program-time">' + moment(tv_listing[i].listDateTime).format('h:mm A') + ' (' + moment.duration(tv_listing[i].duration, "minutes").format("h [hr] m [min]") + ')</span></span></a></li>';
				}

				tmp_html = tmp_html + '</ul>';
			}

			
			$('#yield-area').html(tmp_html);
		}

		display_tv_listing();
		
		$('#listings-search-submit').on("click", function(){
			if($("#listings-search-term").val() == '') return;
			$('#tvForm').attr("action", "show");
			$('#tvForm').submit();
		});
	});
</script>








