
<!-- Page Hero for Portfolio-->
<section class="hero-fullscreen parallax bg-app-1" style="height: 74%; background: none;" data-section-index="1" data-top="0"><div style="z-index: 0; width: 100%; top: 0px; position: fixed; overflow: hidden; min-height: 75%; height: 526px; transform: translate3d(0px, 0px, 0px);" class="parallax-bg" data-holder-index="1"><img style="max-width: none; width: 1900px; height: auto; position: fixed; top: 0px; left: 0px; backface-visibility: hidden; margin-left: -238px; opacity: 1; transform: translate3d(0px, 0px, 0px);" id="parallax-bg-img-1" src="/events/bg-app-1.jpg" data-width="1900" data-height="1267"></div>  
  <div class="hero-container container" style="height: 65%;">  
    <div class="hero-content text-center">   
        
      <div class="col-sm-12 mr-auto text-center">
        <h1 class="large white">Present your app in successful way with Wander.</h1>
        <hr class="separator">
        <h5 class="subheading white">Now Available on App Store and Play Store</h5> 
        <a href="http://www.rpm-web.com/n2me-front/pages-events-app.html#" class="btn btn-primary btn-lg btn-appear mt40 mb40"><span>Download App <i class="ion-ios-cloud-download-outline"></i></span></a> 
      </div> 
        
    </div>
  </div>    
</section>
<!-- End Page Hero for Portfolio -->


<!-- Portfolio -->
<div>
  <div class="container">
    <div class="row" style="margin-top:-25vh">   
      <div class="app-gallery cbp cbp-caption-active cbp-caption-zoom cbp-ready cbp-mode-slider" id="js-grid-slider">
        <div class="cbp-wrapper-outer">
          <div class="cbp-wrapper"> 

            <div class="cbp-item">
              <div class="cbp-item-wrapper">
                <a href="/events/1.jpg" class="cbp-lightbox cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/events/1.jpg" alt="#">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title"><i class="icon-magnifying-glass size-1x"></i></div> 
                            </div>
                        </div>
                    </div>
                </a>
              </div>
            </div>
            <div class="cbp-item"><div class="cbp-item-wrapper">
                <a href="/events/2.jpg" class="cbp-lightbox cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/events/2.jpg" alt="#">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title"><i class="icon-magnifying-glass size-1x"></i></div> 
                            </div>
                        </div>
                    </div>
                </a>
            </div></div>
            <div class="cbp-item"><div class="cbp-item-wrapper">
                <a href="/events/3(1).jpg" class="cbp-lightbox cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/events/3(1).jpg" alt="#">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title"><i class="icon-magnifying-glass size-1x"></i></div> 
                            </div>
                        </div>
                    </div>
                </a>
            </div></div>
            <div class="cbp-item"><div class="cbp-item-wrapper">
                <a href="/events/4.jpg" class="cbp-lightbox cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/events/4.jpg" alt="#">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title"><i class="icon-magnifying-glass size-1x"></i></div> 
                            </div>
                        </div>
                    </div>
                </a>
            </div></div>
            <div class="cbp-item"><div class="cbp-item-wrapper">
                <a href="/events/5(1).jpg" class="cbp-lightbox cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/events/5(1).jpg" alt="#">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title"><i class="icon-magnifying-glass size-1x"></i></div> 
                            </div>
                        </div>
                    </div>
                </a>
            </div></div>
            <div class="cbp-item"><div class="cbp-item-wrapper">
                <a href="/events/6.jpg" class="cbp-lightbox cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/events/6.jpg" alt="#">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title"><i class="icon-magnifying-glass size-1x"></i></div> 
                            </div>
                        </div>
                    </div>
                </a>
            </div></div>
            <div class="cbp-item"><div class="cbp-item-wrapper">
                <a href="/events/7.jpg" class="cbp-lightbox cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/events/7.jpg" alt="#">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title"><i class="icon-magnifying-glass size-1x"></i></div> 
                            </div>
                        </div>
                    </div>
                </a>
            </div></div>
            <div class="cbp-item"><div class="cbp-item-wrapper">
                <a href="/events/8.jpg" class="cbp-lightbox cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/events/8.jpg" alt="#">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title"><i class="icon-magnifying-glass size-1x"></i></div> 
                            </div>
                        </div>
                    </div>
                </a>
            </div></div>
            <div class="cbp-item"><div class="cbp-item-wrapper">
                <a href="/events/9.jpg" class="cbp-lightbox cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/events/9.jpg" alt="#">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title"><i class="icon-magnifying-glass size-1x"></i></div> 
                            </div>
                        </div>
                    </div>
                </a>
            </div></div>
            <div class="cbp-item"><div class="cbp-item-wrapper">
                <a href="/events/10.jpg" class="cbp-lightbox cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/events/10.jpg" alt="#">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title"><i class="icon-magnifying-glass size-1x"></i></div> 
                            </div>
                        </div>
                    </div>
                </a>
            </div></div>

      </div></div><div class="cbp-nav"><div class="cbp-nav-pagination"><div class="cbp-nav-pagination-item cbp-nav-pagination-active" data-slider-action="jumpTo"></div><div class="cbp-nav-pagination-item" data-slider-action="jumpTo"></div><div class="cbp-nav-pagination-item" data-slider-action="jumpTo"></div></div></div></div>   
    </div>
  </div>
</div>            
<!-- End Portfolio --> 
<!-- Countdown -->
<section class="pt20 pb20">
    <div class="container"> 
        <div class="row pt50 pb20">      

            <div class="col-sm-12 text-center">
                <h5 class="subheading">WE SET YOU APART TO GROW ONLINE QUICKLY</h5>
                <h1>Bringing <strong>Business</strong> To Life!</h1> 
                <hr class="separator">
                <div data-date="December 26, 2016 12:00:00" id="countdown-timer">
                    <div><h2 id="months">06</h2><h6>Months</h6></div> 
                    <div><h2 id="days">21</h2><h6>Days</h6></div> 
                    <div><h2 id="hours">16</h2><h6>Hours</h6></div> 
                    <div><h2 id="minutes">21</h2><h6>Minutes</h6></div> 
                    <div><h2 id="seconds">41</h2><h6>Seconds</h6></div>
                </div>
                
            </div> 

        </div>
    </div>
</section>
<!-- End Countdown -->
<!-- Pricing -->
<section class="pt120 pb120">
    <div class="container">
        <div class="vertical-align">

            <div class="col-md-6">
                <h2>Join us for an Epic<br>Meetup of Creativity.</h2> 
                <hr class="separator left">
                <p class="mt30">Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly predominate extensible testing procedures for reliable supply chains. Dramatically engage top-line web services vis-a-vis cutting-edge deliverables. Collaboratively administrate empowered markets. Innovate empowered manufactured products whereas.</p>
                <p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</p> 
            </div> 
            
            <div class="col-md-6">
                <div class="col-md-6 price-table event-price">
                    <div class="price-box"> 
                        <h4>One Day Pass</h4>
                        <h2 class="price-price"> 
                            <sup>$</sup>
                            <span>79</span> 
                        </h2>
                        <div class="price-features">  
                            <h5>Per Ticket</h5>
                            <p>Breakfast</p> 
                            <p>1st Day Speakers</p>
                            <p>Book Signing</p> 
                        </div>
                        <a href="http://www.rpm-web.com/n2me-front/pages-events-app.html#" class="btn btn-primary btn-md btn-appear"><span>Purchase Ticket <i class="ion-android-arrow-forward"></i></span></a>
                    </div>
                </div>  
                <div class="col-md-6 price-table-featured event-price">
                    <div class="price-box"> 
                        <h4>Whole Event</h4>
                        <h2 class="price-price"> 
                            <sup>$</sup>
                            <span>149</span> 
                        </h2>
                        <div class="price-features">  
                            <h5>Per Ticket</h5>
                            <p>Breakfast</p> 
                            <p>See All Speakers</p>
                            <p>1 on 1 Talk</p>
                            <p>Book Signing</p> 
                            <p>Backstage Pass</p>
                        </div>
                        <a href="http://www.rpm-web.com/n2me-front/pages-events-app.html#" class="btn btn-primary btn-md btn-appear"><span>Purchase Ticket <i class="ion-android-arrow-forward"></i></span></a>
                    </div>
                </div> 
            </div> 

        </div>
    </div>
</section>            
<!-- End Pricing -->

<!-- Accordion Style 2 -->
<section class="bg-img-6"> 
    <div class="container pt100 pb100"> 
        <div class="vertical-align">    

            <div class="col-md-6 pr100 white">
                <h2>Transparent Style</h2>   
                <p>Fusce faucibus tincidunt nulla, tincidunt sagittis magna venenatis quis. Proin commodo eu ipsum eu suscipit. In dapibus arcu sit amet imperdiet. Praesent condimentum nulla at mauris ornare.</p>
                <p>Praesent condimentum nulla at mauris ornare, eget consequat felis euismod. Praesent condimentum nulla at mauris ornare. Fusce faucibus tincidunt nulla, tincidunt sagittis magna</p> 
            </div> 

            <div class="col-md-6"> 
                <div class="panel-group accordian-style2 mb0" id="accordion"> 
                    <!-- First Panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                             <button class="panel-title collapsed" data-toggle="collapse" data-target="#collapse5" aria-expanded="false">
                                 First Accordion
                             </button>
                        </div>
                        <div id="collapse5" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                Vivamus faucibus viverra odio sed feugiat. <br>
                                Nullam blandit facilisis consectetur. Etiam in turpis ornare.
                            </div>
                        </div>
                    </div>

                    <!-- Second Panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                             <button class="panel-title collapsed" data-toggle="collapse" data-target="#collapse6" aria-expanded="false">
                                 Second Accordion
                             </button>
                        </div>
                        <div id="collapse6" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                Vivamus faucibus viverra odio sed feugiat. <br>
                                Nullam blandit facilisis consectetur. Etiam in turpis ornare.
                            </div>
                        </div>
                    </div>

                    <!-- Third Panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                             <button class="panel-title collapsed" data-toggle="collapse" data-target="#collapse7" aria-expanded="false">
                                 Third Accordion
                             </button>
                        </div>
                        <div id="collapse7" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                Vivamus faucibus viverra odio sed feugiat. <br>
                                Nullam blandit facilisis consectetur. Etiam in turpis ornare.
                            </div>
                        </div>
                    </div>

                    <!-- Fourth Panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                             <button class="panel-title" data-toggle="collapse" data-target="#collapse8" aria-expanded="true">
                                 Fourth Accordion
                             </button>
                        </div>
                        <div id="collapse8" class="panel-collapse collapse in" aria-expanded="true">
                            <div class="panel-body">
                                Vivamus faucibus viverra odio sed feugiat. <br>
                                Nullam blandit facilisis consectetur. Etiam in turpis ornare.
                            </div>
                        </div>
                    </div> 
                </div> 

            </div> 

        </div>
    </div>
</section>
