<% content_for :head do %>
  <link href="http://www.rpm-web.com/n2me-front/img/assets/favicon.png" rel="icon" type="image/png"> 
  <link href="/fontpage_files/plugins.css" rel="stylesheet" type="text/css">   
  <link href="/fontpage_files/theme.css" rel="stylesheet" type="text/css">   
  <link href="/fontpage_files/ionicons.min.css" rel="stylesheet" type="text/css">
  <link href="/fontpage_files/et-line-icons.css" rel="stylesheet" type="text/css">
  <link href="/fontpage_files/themify-icons.css" rel="stylesheet" type="text/css"> 
  <link href="/fontpage_files/stylesheet.css" rel="stylesheet" type="text/css">
  <link href="/fontpage_files/css" rel="stylesheet" type="text/css">
  <link href="/fontpage_files/custom.css" rel="stylesheet" type="text/css"> 
  <link href="/fontpage_files/blue.css" id="color-scheme" rel="stylesheet" type="text/css">
<% end %>
        
<!-- Hero -->
<section class="hero-fullscreen hero-video overlay">   
  
  <iframe youtube-video-id="rrNL9RlPDk0" id="vossen-youtube" frameborder="0" allowfullscreen="1" title="YouTube video player" width="1424" height="801" src="/fontpage_files/rrNL9RlPDk0.html" style="left: 0px;"></iframe>
  
  <div class="hero-container">
    <div class="hero-content text-center">   
          
      <div class="col-sm-12 mr-auto white text-center pt20">   
          <p class="subheading">N2ME.TV has No Strings Attached! There are No Contracts and No Buffering.<br> Stream live TV, Movies, Music, Events, Games, and E-Books!</p>
          <h1 class="large mt20 mb20">Say <span class="bold">Goodbye</span> to Your <span class="bold">Cable Bill!</span></h1> 
          <p class="hidden-xs">On demand access to your favorite shows on 350 streaming live TV channels. Movies, Online Games, Concerts, Boxing, &amp; More.<br>
Buy a package or per Channel! Buy individual channels from $0.99</p>
<div class="col-md-12 mb40">
          <a href="<%= new_user_registration_path %>" class="btn btn-ghost-color btn-fullwidth mt30"> Day Unlimited Access Free Trial &gt; Signup Now!</a>
      </div>
          <a href="<%= new_user_registration_path %>" class="btn btn-lg btn-primary btn-scroll mt30">7 Day Free Trial &gt; Signup Now!</a>  
      </div> 
    </div>
  </div>   
  
</section>
<!-- End Hero --> 