  <!-- Start Footer 2 -->
<footer id="footer-2" class="pt80 pb50">
    <%= image_tag "new_layout/n2me/assets/footer-logo.png", class: "img-responsive mr-auto", alt: "#" %>
    <!-- <img src="img/assets/footer-logo.png" alt="#" class="mr-auto img-responsive">  -->
    <ul>
        <li><a href="https://twitter.com/N2meTV"><i class="ti-twitter-alt"></i></a></li>
        <li><a href="https://www.facebook.com/n2metv"><i class="ti-facebook"></i></a></li>
        <li><a href="https://instagram.com/n2metv"><i class="ti-instagram"></i></a></li>
        <li><a href="https://www.pinterest.com/n2metv/"><i class="ti-pinterest-alt"></i></a></li> 
        <li><a href="https://plus.google.com/u/0/103265953848860159549/posts"><i class="ti-google"></i></a></li> 
    </ul>
    <a href="https://beta.n2me.tv" target="_blank"><strong>Join the N2Me Revolution | Free 7 Day Trial</strong></a>
    <p>© Copyright 2016 SuperCloud, Inc. | All rights reserved</p>

</footer>
<!-- End Footer 2 --> 

<!-- Start Back To Top -->
<a id="back-to-top"><i class="icon ion-chevron-up"></i></a>
<!-- End Back To Top --> 