.nested-categories {
  padding: 10px;
  margin-bottom: 20px;
}

.media.uk-panel{
  min-height: 400px;
}

.media #player-area {
  background: #000;
  padding-top: 5px;
  .overlay {
    display: block;
    margin: 0 auto;
  }

}

#header_main .uk-navbar .uk-navbar-nav > li.browse .uk-dropdown {
  right: initial !important;
}


#style_switcher .switcher_app_themes li.app_style_default .app_color_main {
  background: #444444 !important;
}

.show-book {
  .uk-grid {
    padding: 20px 20px 40px;
  }

  .download{
    margin-bottom: 20px;
    display: block;
    img {
      margin-left: -23px;
    }

  }

}

.search-icon {
  a {
    padding-top: 2px !important;
    &:hover {
      opacity: .7;
    }

    transition: .5s opacity ease;
  }

  i {
    color: #fff;
  }

}

.search-bar {
  background: #444;
  padding: 5px 10px 10px;
  position: absolute;
  width: 83%;
  top: -53px;
  transition: .5s ease-out top;
  select {
    width: 20%;
  }

  input {
    margin-left: 2%;
    width: 78%;
  }

  select, input {
    &:focus, &:active {
      background: #fff !important;
    }

  }

}

.mobile-menu {
  a {
    color: #444444 !important;
  }

}

@media (min-width:768px) and (max-width:1036px) {
  .header-logo-img {
    width: 130px;
  }

  ul.desktop-menu {
    a {
      padding-right: 0;
      padding-left: 0;
    }

    li + li a {
      margin-left: 10px;
    }

  }

}

@media (min-width:768px) and (max-width:822px)  {
  ul.desktop-menu .menu i {
    display: none;
  }

}


#rt-header {
    color: #6e6e6e;
    text-shadow: 1px 1px 0 transparent;
    background-color: #0a0000;
    border-bottom: 1px solid #000000;
}

#rt-top-surround {
    color: #999999;
    border-top: 3px solid #0088cc;
}

#rt-top {
    color: #636363;
    text-shadow: 1px 1px 0 transparent;
    background-color: #fafafa;
}

.rt-container {
    width: 1200px;
    margin: 0 auto;
}

body [class*="rt-grid"] {
    display: inline;
    float: left;
    position: relative;
    margin: 0;
}

.rt-grid-4 {
    width: 400px;
}

body .nopaddingtopbottom {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.rt-block {
    padding: 15px;
    margin: 10px;
    position: relative;
}

#hid1 a { color: black; }

.rt-grid-1:before, .rt-grid-2:before, .rt-grid-3:before, .rt-grid-4:before, .rt-grid-5:before, .rt-grid-6:before, .rt-grid-7:before, .rt-grid-8:before, .rt-grid-9:before, .rt-grid-10:before, .rt-grid-11:before, .rt-grid-12:before {
    display: table;
    content: "";
    clear: both;
}

.rt-grid-1:after, .rt-grid-2:after, .rt-grid-3:after, .rt-grid-4:after, .rt-grid-5:after, .rt-grid-6:after, .rt-grid-7:after, .rt-grid-8:after, .rt-grid-9:after, .rt-grid-10:after, .rt-grid-11:after, .rt-grid-12:after {
    display: table;
    content: "";
    clear: both;
}

body .align-right {
    float: right;
}

body .nomargintopbottom {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

#rt-header {
    color: #6e6e6e;
    text-shadow: 1px 1px 0 transparent;
    background-color: #0a0000;
    border-bottom: 1px solid #000000;
}

.rt-grid-2 {
    width: 200px;
}

.logo-block {
    padding: 0px 15px;
    margin: 14px 0;
}

#rt-logo {
    background: url(http://www.n2me.tv/stream/templates/wt_plussone_jom/images/logo/hstyleone/logo.png) 0 0 no-repeat;
}

.rt-grid-8 {
    width: 800px;
}

.menu-block {
    padding: 0;
    margin: 0;
}

html body * span.clear, html body * div.clear, html body * li.clear, html body * dd.clear {
    background: none;
    border: 0;
    clear: both;
    display: block;
    float: none;
    font-size: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.gf-menu {
    margin: 8px auto 0;
    list-style: none;
}

.gf-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.gf-menu li {
    float: left;
    display: block;
    text-align: center;
    position: relative;
    padding: 0;
    margin-right: 15px;
    border: none;
    border-bottom: 2px solid transparent;
    margin-bottom: -2px;
}

.gf-menu .dropdown {
    margin: 0 auto;
    padding: 0;
    position: absolute;
    opacity: 0;
    left: -999em;
    text-align: left;
    border-top: 2px solid #0088cc;
    background: #FFFFFF;
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
    z-index: 1001 !important;
    -webkit-box-shadow: 1px 2px 4px rgba(0,0,0,0.4);
    -moz-box-shadow: 1px 2px 4px rgba(0,0,0,0.4);
    box-shadow: 1px 2px 4px rgba(0,0,0,0.4);
}

.gf-menu .column {
    float: left;
    position: relative;
}

.gf-menu .dropdown ul li {
    display: block;
    float: none;
    margin-right: 0;
    padding: 5px 8px;
    border-bottom: 1px solid #F2F2F2;
}

.gf-menu .item {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 21px;
    color: #777777;
    padding: 4px 8px;
    text-align: left;
    text-decoration: none;
    display: block;
    outline: 0;
    cursor: pointer;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-transform: translateZ(0);
}

.clearfix{*zoom:1;}
.clearfix:before,.clearfix:after{display:table;content:"";line-height:0;}
.clearfix:after{clear:both;}
.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
.input-block-level{display:block;width:100%;min-height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.rok-left{float:left;}
.rok-right{float:right;}
.rok-dropdown-group,.rok-dropdown{position:relative;}
.rok-dropdown-open .rok-dropdown{display:block;}
.rok-popover-group,.rok-popover{position:relative;}
.rok-popover-open .rok-popover{display:block;}
.gf-menu{margin:8px auto 0;list-style:none;}
.gf-menu:after{display:table;content:'';clear:both;}
.gf-menu ul{list-style:none;padding:0;margin:0;}
.gf-menu .item{font-family:Arial, Helvetica, sans-serif;font-size:13px;line-height:21px;color:#777777;padding:4px 8px;text-align:left;text-decoration:none;display:block;outline:0;cursor:pointer;-webkit-transition:none;-moz-transition:none;-o-transition:none;transition:none;-webkit-transform:translateZ(0);}
.gf-menu .item.subtext > em{display:block;font-size:10px;line-height:9px;color:#919191;text-align:left;font-style:normal;}
.gf-menu .item.icon [class^="fa-"],.gf-menu .item.icon [class*= " fa-"]{background-image:none !important;width:auto;}
.gf-menu .item.icon [class^="fa-"]:before,.gf-menu .item.icon [class*= " fa-"]:before{text-indent:0;margin-right:8px;}
.gf-menu .item .menu-image{max-width:inherit;vertical-align:text-top;margin-top:0px;margin-left:0px;margin-right:7px;}
.gf-menu.l1 > li.active{border-bottom-color:#0088cc;}
.gf-menu.l1 > li.active > .item{font-weight:900;}
.gf-menu.l1 > li.active:after{color:#0088cc;position:absolute;right:46%;bottom:-14px;margin-top:0px;font-family:FontAwesome;content:"\f0d7";font-size:12px;z-index:999;}
.gf-menu.l1 > li > .item{font-size:14px;font-weight:400;text-transform:uppercase;line-height:24px;padding-top:25px;padding-bottom:30px;padding-right:10px;padding-left:10px;position:relative;}
.gf-menu.l1 > li > .item.subtext{padding-bottom:26px;}
.gf-menu.l1 > li > .item .menu-image{margin-top:-1px;}
.gf-menu li{float:left;display:block;text-align:center;position:relative;padding:0;margin-right:15px;border:none;border-bottom:2px solid transparent;margin-bottom:-2px;}
.gf-menu .dropdown{margin:0 auto;padding:0;position:absolute;opacity:0;left:-999em;text-align:left;border-top:2px solid #0088cc;background:#FFFFFF;-webkit-transition:opacity 0.2s ease-out;-moz-transition:opacity 0.2s ease-out;-o-transition:opacity 0.2s ease-out;transition:opacity 0.2s ease-out;z-index:1001 !important;-webkit-box-shadow:1px 2px 4px rgba(0,0,0,0.4);-moz-box-shadow:1px 2px 4px rgba(0,0,0,0.4);box-shadow:1px 2px 4px rgba(0,0,0,0.4);}
.gf-menu .dropdown .flyout{display:block;}
.gf-menu .dropdown ul li{display:block;float:none;margin-right:0;padding:5px 8px;border-bottom:1px solid #F2F2F2;}
.gf-menu .dropdown ul li.active > .item{font-weight:900;}
.gf-menu .dropdown ul li:last-child{border-bottom:1px solid transparent;}
.gf-menu .dropdown ul li.parent > .item{position:relative;}
.gf-menu .dropdown ul li.parent > .item:after{position:absolute;right:15px;top:50%;margin-top:-11px;font-family:FontAwesome;content:"\f054";font-size:10px;}
.gf-menu .dropdown ul li.parent > .item.subtext:after{margin-top:-18px;right:17px;}
.gf-menu .dropdown .grouped{padding:5px;margin:0px 0px -2px 0px;}
.gf-menu .dropdown .grouped.parent > .item .border-fixer{display:none;}
.gf-menu .dropdown .grouped.parent > .item:after{font-family:FontAwesome;content:"\f078";font-size:11px;padding-top:0px;margin-right:-5px;}
.gf-menu .dropdown .grouped.parent > .item.subtext{padding-bottom:10px;}
.gf-menu .dropdown .grouped ol > li > .item{font-size:12px;padding-top:3px;padding-bottom:3px;}
.gf-menu .dropdown .modules{text-align:left;color:#919191;}
.gf-menu .dropdown .modules .module-content{padding:0 10px;}
.gf-menu .dropdown .modules .module-content h1,.gf-menu .dropdown .modules .module-content h2,.gf-menu .dropdown .modules .module-content h3,.gf-menu .dropdown .modules .module-content h4,.gf-menu .dropdown .modules .module-content h5{color:#777777;}

.gf-menu .dropdown .modules .module-content p{margin:0 0 10px 0;font-size:12px;line-height:18px;}
.gf-menu .flyout{border-top:1px solid ;}
.gf-menu .column{float:left;position:relative;}
.gf-menu .position-left{float:left;margin-right:15px;}
.gf-menu .position-right{float:right;margin-left:15px;}
.gf-menu.gf-splitmenu li.parent:hover{border-radius:4px;}
.gf-menu-toggle{padding:8px;position:absolute;z-index:30000;top:13px;left:13px;cursor:pointer;background-color:#e4e4e4;}

.gf-menu-toggle .icon-bar{background-color:#777777;border-radius:1px 1px 1px 1px;display:block;height:2px;width:18px;margin:0px auto;}
.gf-menu-toggle .icon-bar + .icon-bar{margin-top:3px;}
@media only screen and (min-width: 960px) and (max-width: 1199px){.layout-mode-responsive .gf-menu.l1 > li{margin-right:5px;}
}
@media (min-width: 768px) and (max-width: 959px){.layout-mode-responsive .gf-menu.l1 > li{margin-right:5px;}
.layout-mode-responsive .gf-menu.l1 > li > .item{font-size:14px;}
.layout-mode-responsive .gf-menu.l1 > li > .item.subtext{padding-top:7px;padding-bottom:7px;}
.layout-mode-responsive .gf-menu.l1 > li > .item.subtext em{display:none;}
.layout-mode-responsive .gf-menu.l1 > li > .item.image img{display:none;}
}
@media only screen and (min-width: 768px){.clearfix{*zoom:1;}
.clearfix:before,.clearfix:after{display:table;content:"";line-height:0;}
.clearfix:after{clear:both;}
.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
.input-block-level{display:block;width:100%;min-height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.rok-left{float:left;}
.rok-right{float:right;}
.rok-dropdown-group,.rok-dropdown{position:relative;}
.rok-dropdown-open .rok-dropdown{display:block;}
.rok-popover-group,.rok-popover{position:relative;}
.rok-popover-open .rok-popover{display:block;}
.gf-menu.l1 > li:hover > .item .border-fixer{display:block;position:absolute;height:2px;width:100%;bottom:-2px;left:0px;background:#FFFFFF;z-index:1001;border-bottom-color:#0088cc;}
.gf-menu.l1 > li:hover{border-bottom-color:#0088cc;}
.gf-menu li:hover > .dropdown,.gf-menu li.active:hover > .dropdown{left:-1px;top:auto;opacity:1;}
.gf-menu li:hover > .item.subtext > em{color:#ffffff !important;}
.gf-menu .dropdown ul li:hover{background:#777777;border-bottom:1px solid #F2F2F2;}
.gf-menu .dropdown ul li:hover > .item{color:#ffffff !important;}
.gf-menu .dropdown ul li:last-child{border-bottom:1px solid transparent;}
.gf-menu .dropdown .grouped.parent:hover{background:none;}
.gf-menu .dropdown .grouped.parent:hover > .item{background:#777777;}
.gf-menu .dropdown .grouped.parent:hover > .item.subtext > em{color:#ffffff !important;}
.gf-menu .dropdown .modules:hover,.gf-menu .dropdown .modules ul li:hover{padding-top:0 !important;}
.gf-menu .dropdown li:hover > .flyout{left:100%;top:1px;margin-left:-6px;border-top:0;-webkit-box-shadow:1px 2px 4px rgba(0,0,0,0.4);-moz-box-shadow:1px 2px 4px rgba(0,0,0,0.4);box-shadow:1px 2px 4px rgba(0,0,0,0.4);}
body.rtl li:hover > .dropdown,body.rtl li.active:hover > .dropdown{left:inherit;right:-1px;}
body.rtl .dropdown ul li:hover > .flyout{left:inherit;right:100%;border-radius:5px 0 5px 5px;margin-left:auto;margin-right:-6px;}
body.rtl .dropdown ul li:hover > .item .border-fixer{right:inherit;left:-1px;}
body.rtl .dropdown ul li.parent:hover > .item{border-radius:0 4px 4px 0;}
}
.layout-mode-960fixed .clearfix,.layout-mode-1200fixed .clearfix{*zoom:1;}
.layout-mode-960fixed .clearfix:before,.layout-mode-960fixed .clearfix:after,.layout-mode-1200fixed .clearfix:before,.layout-mode-1200fixed .clearfix:after{display:table;content:"";line-height:0;}
.layout-mode-960fixed .clearfix:after,.layout-mode-1200fixed .clearfix:after{clear:both;}
.layout-mode-960fixed .hide-text,.layout-mode-1200fixed .hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
.layout-mode-960fixed .input-block-level,.layout-mode-1200fixed .input-block-level{display:block;width:100%;min-height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.layout-mode-960fixed .rok-left,.layout-mode-1200fixed .rok-left{float:left;}
.layout-mode-960fixed .rok-right,.layout-mode-1200fixed .rok-right{float:right;}
.layout-mode-960fixed .rok-dropdown-group,.layout-mode-960fixed .rok-dropdown,.layout-mode-1200fixed .rok-dropdown-group,.layout-mode-1200fixed .rok-dropdown{position:relative;}
.layout-mode-960fixed .rok-dropdown-open .rok-dropdown,.layout-mode-1200fixed .rok-dropdown-open .rok-dropdown{display:block;}
.layout-mode-960fixed .rok-popover-group,.layout-mode-960fixed .rok-popover,.layout-mode-1200fixed .rok-popover-group,.layout-mode-1200fixed .rok-popover{position:relative;}
.layout-mode-960fixed .rok-popover-open .rok-popover,.layout-mode-1200fixed .rok-popover-open .rok-popover{display:block;}
.layout-mode-960fixed .gf-menu.l1 > li:hover > .item .border-fixer,.layout-mode-1200fixed .gf-menu.l1 > li:hover > .item .border-fixer{display:block;position:absolute;height:2px;width:100%;bottom:-2px;left:0px;background:#FFFFFF;z-index:1001;border-bottom-color:#0088cc;}
.layout-mode-960fixed .gf-menu.l1 > li:hover,.layout-mode-1200fixed .gf-menu.l1 > li:hover{border-bottom-color:#0088cc;}
.layout-mode-960fixed .gf-menu li:hover > .dropdown,.layout-mode-960fixed .gf-menu li.active:hover > .dropdown,.layout-mode-1200fixed .gf-menu li:hover > .dropdown,.layout-mode-1200fixed .gf-menu li.active:hover > .dropdown{left:-1px;top:auto;opacity:1;}
.layout-mode-960fixed .gf-menu li:hover > .item.subtext > em,.layout-mode-1200fixed .gf-menu li:hover > .item.subtext > em{color:#ffffff !important;}
.layout-mode-960fixed .gf-menu .dropdown ul li:hover,.layout-mode-1200fixed .gf-menu .dropdown ul li:hover{background:#777777;border-bottom:1px solid #F2F2F2;}
.layout-mode-960fixed .gf-menu .dropdown ul li:hover > .item,.layout-mode-1200fixed .gf-menu .dropdown ul li:hover > .item{color:#ffffff !important;}
.layout-mode-960fixed .gf-menu .dropdown ul li:last-child,.layout-mode-1200fixed .gf-menu .dropdown ul li:last-child{border-bottom:1px solid transparent;}
.layout-mode-960fixed .gf-menu .dropdown .grouped.parent:hover,.layout-mode-1200fixed .gf-menu .dropdown .grouped.parent:hover{background:none;}
.layout-mode-960fixed .gf-menu .dropdown .grouped.parent:hover > .item,.layout-mode-1200fixed .gf-menu .dropdown .grouped.parent:hover > .item{background:#777777;}
.layout-mode-960fixed .gf-menu .dropdown .grouped.parent:hover > .item.subtext > em,.layout-mode-1200fixed .gf-menu .dropdown .grouped.parent:hover > .item.subtext > em{color:#ffffff !important;}
.layout-mode-960fixed .gf-menu .dropdown .modules:hover,.layout-mode-960fixed .gf-menu .dropdown .modules ul li:hover,.layout-mode-1200fixed .gf-menu .dropdown .modules:hover,.layout-mode-1200fixed .gf-menu .dropdown .modules ul li:hover{padding-top:0 !important;}
.layout-mode-960fixed .gf-menu .dropdown li:hover > .flyout,.layout-mode-1200fixed .gf-menu .dropdown li:hover > .flyout{left:100%;top:1px;margin-left:-6px;border-top:0;-webkit-box-shadow:1px 2px 4px rgba(0,0,0,0.4);-moz-box-shadow:1px 2px 4px rgba(0,0,0,0.4);box-shadow:1px 2px 4px rgba(0,0,0,0.4);}
.layout-mode-960fixed body.rtl li:hover > .dropdown,.layout-mode-960fixed body.rtl li.active:hover > .dropdown,.layout-mode-1200fixed body.rtl li:hover > .dropdown,.layout-mode-1200fixed body.rtl li.active:hover > .dropdown{left:inherit;right:-1px;}
.layout-mode-960fixed body.rtl .dropdown ul li:hover > .flyout,.layout-mode-1200fixed body.rtl .dropdown ul li:hover > .flyout{left:inherit;right:100%;border-radius:5px 0 5px 5px;margin-left:auto;margin-right:-6px;}
.layout-mode-960fixed body.rtl .dropdown ul li:hover > .item .border-fixer,.layout-mode-1200fixed body.rtl .dropdown ul li:hover > .item .border-fixer{right:inherit;left:-1px;}
.layout-mode-960fixed body.rtl .dropdown ul li.parent:hover > .item,.layout-mode-1200fixed body.rtl .dropdown ul li.parent:hover > .item{border-radius:0 4px 4px 0;}
@media (max-width: 767px){.layout-mode-responsive .gf-menu-device-wrapper{margin-bottom:15px !important;}
.layout-mode-responsive .gf-menu-device-container{background:#FFFFFF;border:1px solid ;border-top:0;border-radius:5px;padding:5px;}
.layout-mode-responsive .gf-menu-device-container select{margin-bottom:0;width:100%;}
.layout-mode-responsive .gf-menu{border-top:15px solid #FFFFFF;background-clip:content-box;-webkit-background-clip:content-box;background:#FFFFFF url(../images/menu/tree-main.png) repeat-y !important;}
.layout-mode-responsive .gf-menu li{background:url(../images/menu/tree-node.png) no-repeat;padding-left:20px !important;margin-right:0 !important;}
.layout-mode-responsive .gf-menu li.active.last{background:url(../images/menu/tree-node.png) no-repeat !important;border:0 !important;-webkit-box-shadow:none !important;-moz-box-shadow:none !important;box-shadow:none !important;}
.layout-mode-responsive .gf-menu li.active.last > .item{border-radius:4px;color:#0088cc;}
.layout-mode-responsive .gf-menu li .columns-1 > .col1 > ul > li:last-child,.layout-mode-responsive .gf-menu li .columns-2 > .col2 > ul > li:last-child,.layout-mode-responsive .gf-menu li .columns-3 > .col3 > ul > li:last-child,.layout-mode-responsive .gf-menu li .columns-4 > .col4 > ul > li:last-child{background:#FFFFFF url(../images/menu/tree-node-last.png) 0 -2px no-repeat !important;}
.layout-mode-responsive .gf-menu li ol > li:last-child{background:#FFFFFF url(../images/menu/tree-node-last.png) 0 -2px no-repeat !important;}
.layout-mode-responsive .gf-menu li :hover{color:#0088cc !important;}
.layout-mode-responsive .gf-menu li .item{padding:2px 5px !important;}
.layout-mode-responsive .gf-menu li .item.subtext em{display:none;}
.layout-mode-responsive .gf-menu li .item:after{content:'' !important;}
.layout-mode-responsive .gf-menu > li:first-child,.layout-mode-responsive .gf-menu > li:first-child.active{margin-top:-15px;background:url(../images/menu/tree-node-first.png) no-repeat !important;}
.layout-mode-responsive .gf-menu > li:last-child{background:#FFFFFF url(../images/menu/tree-node-last.png) 0 -2px no-repeat;}
.layout-mode-responsive .gf-menu .dropdown{width:100% !important;border:0 !important;padding-top:0 !important;padding-bottom:0 !important;background:transparent !important;-webkit-box-shadow:none !important;-moz-box-shadow:none !important;box-shadow:none !important;position:relative;left:inherit;top:inherit;opacity:1;*zoom:1;}
.layout-mode-responsive .gf-menu .dropdown:before,.layout-mode-responsive .gf-menu .dropdown:after{display:table;content:"";line-height:0;}
.layout-mode-responsive .gf-menu .dropdown:after{clear:both;}
.layout-mode-responsive .gf-menu .dropdown .flyout{display:block;}
.layout-mode-responsive .gf-menu .dropdown .column{width:100% !important;}
.layout-mode-responsive .gf-menu .dropdown .modules{display:none;}
.layout-mode-responsive .gf-menu .dropdown ul li{border-bottom:none;}
.layout-mode-responsive .gf-menu.l1 > li{float:none;margin-left:0px;}
.layout-mode-responsive .gf-menu.l1 > li.active{margin-left:0px;background:transparent;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;border:0;}
.layout-mode-responsive .gf-menu.l1 > li.active :after{display:none;}
.layout-mode-responsive .gf-menu.l1 > li > .item{font-size:14px;}
}
body.rtl .gf-menu.l1 > li{float:right;}
body.rtl .gf-menu li .item{text-align:right;}
body.rtl .gf-menu li.parent > .item{padding-right:8px;padding-left:25px;}
body.rtl .gf-menu li.parent > .item:after{right:inherit;left:6px;}
body.rtl .gf-menu-toggle{left:inherit;right:10px;}
body.rtl .dropdown{border-radius:5px 0 5px 5px;}
body.rtl .dropdown ul li.parent > .item:after{content:"\f053";font-size:11px;}
@media (max-width: 767px){.layout-mode-responsive.rtl .gf-menu.l1 > li{float:none;}
.layout-mode-responsive.rtl .gf-menu li .item{text-align:left;}
}
body.layout-mode-responsive{-webkit-transition:left 0.2s ease-out;-moz-transition:left 0.2s ease-out;-o-transition:left 0.2s ease-out;transition:left 0.2s ease-out;position:relative;left:0;}
body.layout-mode-responsive .gf-menu-device-container.responsive-type-panel{display:none;}
body.layout-mode-responsive .gf-menu-device-wrapper-sidemenu{left:-230px;-webkit-overflow-scrolling:touch;}
body.layout-mode-responsive .gf-sidemenu-size-left{left:0;-webkit-transition:left 0.2s ease-out;-moz-transition:left 0.2s ease-out;-o-transition:left 0.2s ease-out;transition:left 0.2s ease-out;}
body.gf-sidemenu-size-marginleft{left:230px;position:relative;overflow:hidden;-webkit-transition:left 0.2s ease-out;-moz-transition:left 0.2s ease-out;-o-transition:left 0.2s ease-out;transition:left 0.2s ease-out;}
@media (max-width: 767px){.layout-mode-responsive .gf-menu-device-container.responsive-type-panel{display:block !important;}
.layout-mode-responsive .gf-menu-device-container.responsive-type-panel ~ ul.gf-menu{display:none;}
.layout-mode-responsive .gf-menu-device-wrapper.gf-menu-device-wrapper-sidemenu{margin-bottom:0 !important;}
.layout-mode-responsive .gf-menu-device-wrapper-sidemenu{-webkit-transition:left 0.2s ease-out;-moz-transition:left 0.2s ease-out;-o-transition:left 0.2s ease-out;transition:left 0.2s ease-out;position:fixed !important;top:0;left:-230px;right:0;bottom:0;margin:0 !important;z-index:200;overflow:auto !important;border:0;border-radius:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;width:230px;}
.layout-mode-responsive .gf-menu-device-wrapper-sidemenu .gf-menu-device-container{display:block;padding:0;margin:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;border:0;width:100%;}
}
@media (min-width: 768px){.layout-mode-responsive .gf-menu-device-wrapper-sidemenu{left:-230px;}
body.gf-sidemenu-size-marginleft{left:0;}
}
.gf-menu .dropdown a { color: #555555 !important;}
.gf-menu .item {
  color: #f5f5f5 !important;}
.gf-menu-device-container-wrapper .gf-menu .item {
  color: #0066f5 !important;}