.nested-categories {
  border: 2px solid #30a5ff;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}
.media.uk-panel{
  min-height: 400px;
}
#header_main .uk-navbar .uk-navbar-nav > li.browse .uk-dropdown {
  right: initial !important;
}

#style_switcher .switcher_app_themes li.app_style_default .app_color_main {
  background: #444444 !important;
}
.show-book {
  .uk-grid {
    padding: 20px 20px 40px;
  }
  .download{
    margin-bottom: 20px;
    display: block;
    img {
      margin-left: -23px;
    }
  }
}
.search-icon {
  a {
    padding-top: 2px !important;
    &:hover {
      opacity: .7;
    }
    transition: .5s opacity ease;
  }
  i {
    color: #fff;
  }
}
.search-bar {
  background: #444;
  padding: 5px 10px 10px;
  position: absolute;
  width: 83%;
  top: -53px;
  transition: .5s ease-out top;
  select {
    width: 20%;
  }
  input {
    margin-left: 2%;
    width: 78%;
  }
  select, input {
    &:focus, &:active {
      background: #fff !important;
    }
  }
}
.mobile-menu {
  a {
    color: #444444 !important;
  }
}
@media (min-width:768px) and (max-width:1036px) {
  .header-logo-img {
    width: 130px;
  }
  ul.desktop-menu {
    a {
      padding-right: 0;
      padding-left: 0;
    }
    li + li a {
      margin-left: 10px;
    }
  }
}
@media (min-width:768px) and (max-width:822px)  {
  ul.desktop-menu .menu i {
    display: none;
  }
}