<div class="content">
  <div class="uk-container uk-container-center" style="min-height:100px;">
    <div id="loadingnotice" style="position: absolute; top: 30px; left: 45%; margin: auto; width:128px; height: 30px; z-index: 1002;"><img src='http://www.n2me.tv/demo/images/ajax-loader.gif' width="128" height="15" alt="loading..."/><br/>Loading...</div>
    <div id='iframecontainer'></div>
  </div>
</div>
<script language="JavaScript">
<!--
function autoResize(id){
    document.getElementById('loadingnotice').style.display = 'none';

    var newheight;
    var newwidth;

    if(document.getElementById){
        newheight = document.getElementById(id).contentWindow.document .body.scrollHeight;
        newwidth = document.getElementById(id).contentWindow.document .body.scrollWidth;
    }

    document.getElementById(id).height = (newheight) + "px";
    document.getElementById(id).width = (newwidth+50) + "px";
}

window.setTimeout(function () {
    document.getElementById('iframecontainer').innerHTML = '<iframe src="http://www.n2me.tv/stream/musicbrowser/" width="960" height="1000" id="iframe1" marginheight="0" frameborder="0" onLoad="autoResize(\'iframe1\');"></iframe>';
}, 1500);

//-->
</script>
