body
{
    font-family: 'Roboto', sans-serif;
}
.money
{
  font-size: 11px !important;
  color: gray;
}
.last
{
  font-size: 11px !important;
  color: #08ABE1;
}
.spanprice
{
      color: #43A743 !important;
}
.lorempmost
{
  margin-left: -3%;
  font-size: 13px;
  color:#908F88;
  margin-bottom: 35px;;
}
.footpmost
{
      color: white;
    font-size: 20px;
    font-weight: 700;
    margin-top: 7%;
    margin-left: -3%;
}
.footdiv3
{
  margin-top: 10px;
    
}
.footdivimg
{    margin-bottom: 41px;
       width: 63%;
    padding: 14px 6px;
    background: #FDC741;
}
.mostconatiner
{
  width:70%;
}
.rate
{
  color: #FC6300;
      font-size: 18px;
      font-weight: 700;
}
.mainline
{
  font-size: 24px;
  color:#6D6D6D;
  }
.inlinestyle
{
    font-size: 15px;
    margin-top: -12px;
    font-weight: 700;
    color: gray;  font-size: 15px;  
    margin-top: -12px;
}
.inlinestyle1
{
  font-size: 15px;  
  color: gray;

}
.container2
{
      background-color: rgb(241, 241, 241);
}
input[type=checkbox] {
      height: 20px;
    width: 20px;
        margin-top: 11px;

}
input[type=checkbox].maincheck{
      height: 13px;
    width: 13px;
        margin-top: 11px;

}
.inline2
{
  font-size: 15px;
  color: gray;
  margin-top: -11px;
}
.container1row
{
      padding: 12px 0px;

}
.extra
{
      font-size: 24px;
    color: #6D6D6D;
      font-weight: 600;

}
.container2inline
{
      border-bottom: 1px solid #DCDBDB;
    padding: 14px 0px;
}
.container2inline2
{
      border-bottom: 0px solid #DCDBDB;
    padding: 14px 0px;
}
.price
{
  float: right;
  color: #FC6300;
      font-size: 18px;
      font-weight: 700;
}

.price2 {
    color: #43A743;
    font-size: 15px;
    margin-bottom: 0px;
    margin-left: 3%;
    font-weight: 600;

}
#liksss
{
  color: #08ABE1;
}
.imagesmall
{
  width: 70%;
      -webkit-transition-duration: 0.5s;
       -moz-transition:0.5s;
 -o-transition:0.5s;
 -ms-transition:0.5s;;
   transition:0.5s;
}
.click
{
  font-size: 15px;
    margin-top: 4px;
    color: gray;
}
.rightcontainer1
{
  font-size: 15px;
      font-weight: 600;
          margin-top: 10px;
}
.right
{
      border: 2px solid #ddd;
    margin-top: 34px;
    background-color: white;
   
}
.rightconatiner1-1
{
font-size: 15px;
}
.firstfine
{
    height: 11px;
    font-size: 11px;
    border: 0px;
    color: #00ABFF;
}
.row1
{
      margin-top: 10px;
}
.leftprice
{
    font-size: 11px;
    color: rgba(128, 128, 128, 0.58);
        margin-top: 3px;

}
.rightrow
{
          border-bottom: 1px solid rgba(49, 112, 143, 0.28);
      padding-top: 4px;
    padding-bottom: 2px;
}
.rightrow1
{
          border-bottom: 0px solid rgba(49, 112, 143, 0.28);
      padding-top: 4px;
    padding-bottom: 2px;
}
.exclusive-offer
{
      float: right;
    margin: 0px !important;
    color: #F2CD82;
}
.button1
{
  width: 100%;
    font-size: 17px;
    border-radius: 0px;
    padding: 11px;
    background-color: #FC6300;

}
.button1:hover
{
  width: 100%;
    font-size: 17px;
    border-radius: 0px;
    padding: 11px;
    background-color: #FC6300;

}
.button1:active
{
  width: 100%;
    font-size: 17px;
    border-radius: 0px;
    padding: 11px;
    background-color: #FC6300;

}
.newpara
{
        font-size: 23px;
    font-weight: 600;
    padding: 0px 37px;

}
.button2
{
  border: 1px solid #4EA743;
    width: 100%;
    border-radius: 0px;
    margin-top: 4px;
    color: #4EA743;
    margin-bottom: 9px;
    font-size: 16px;
    padding: 4px 0px;

}
.button2:hover
{
  border: 1px solid #4EA743;
    width: 100%;
    border-radius: 0px;
    margin-top: 4px;
    color: #4EA743;
    margin-bottom: 9px;

}
.button2:active
{
  border: 1px solid #4EA743;
    width: 100%;
    border-radius: 0px;
    margin-top: 4px;
    color: #4EA743;
    margin-bottom: 9px;

}
.imag1
{
      width: 100%;
     -webkit-transition-duration: 0.5s;
     -moz-transition:0.5s;
 -o-transition:0.5s;
 -ms-transition:0.5s;;
   transition:0.5s;
}
.image img:hover{
-webkit-transform:scale(1.5);
  -webkit-box-shadow:0px 0px 30px #ccc;
    z-index: 20000;
    background: white;
    border-radius: 4px;
    overflow: hidden;
}
.maink
{
    font-size: 21px;
    color: gray;
}

.image3{
    box-shadow: 0px 1px 6px;
    background-color: white;
}
.main-container
{
    background: rgba(236, 236, 236, 0.73);
}
.mainleft{
    background-color: white;
}

.bonus
{
        margin-bottom: 20px;
    padding-bottom: 12px;
background: white;
  margin-top: 13px;;
}
.bonus p
{
  font-size: 18px;
    margin: 10px 0px 10px 10px;
    font-weight: 700;
}
.bonus .value
{    font-size: 13px;
    background-color: #000000;
    display: inline-block;
    padding: 2px 11px;
    border-radius: 3px;
    color: #FDC741
}
.bonus .nextp
{
        font-size: 15px;
    margin-top: 0px;
    font-weight: 700;
}
.bonus .nextone
{
    font-size: 14px;
    color: gray;
        margin-top: -9px;
}
.button3
{    
    padding: 5px 8px;
    float: right;
    border-radius: 0px;
    background: #08ABE1;
    border: 0px;
    color: black;
    margin-bottom: 10px;
}
.button3:hover
{
    padding: 5px 8px;
    float: right;
    border-radius: 0px;
    background-color: #08ABE1 !important;
    border: 0px;
    color: black;
}
.button3:after
{
    padding: 5px 8px;
    float: right;
    border-radius: 0px;
    background-color: #08ABE1 !important;
    border: 0px;
    color: black;
}
.button3:active
{
    padding: 5px 8px;
    float: right;
    border-radius: 0px;
    background-color: #08ABE1 !important;
    border: 0px;
    color: black;
}
.button3:before
{
    padding: 5px 8px;
    float: right;
    background-color: #08ABE1 !important;
    border: 0px;
    border-radius: 0px;
    color: black;
}
.footdiv
{
    background-color: black;
}
.footrow
{
    margin-top: 20px;
}
.footp
{           font-size: 15px !important;
    color: white;
    margin-top: 18px !important;

}
.loremp
{
       font-size: 13px !important;
   color: #908F88 !important;
    padding-left: 29px;
    margin-left: -15px !important;
    font-weight: 100 !important;
}
.footimg
{
    width: 64%;
}
.footdiv1
{

    background: #FDC741;
       padding: 17px 0px;
    margin-top: 5px;
}
.image2
{   position: relative;
  -webkit-transition-duration: 0.5s;
       -moz-transition:0.5s;
 -o-transition:0.5s;
 -ms-transition:0.5s;;
   transition:0.5s;
}
.image2 img{
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(blur=0)";
    overflow: hidden;
        height: 200px;
    position: relative;
     -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
.image2 .mask {
        height: 260px;
    position: absolute;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   background-color: rgba(253, 199, 65, 0.61);
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
}
.image2 .h {
   -webkit-transform: translateY(-150px);
   -moz-transform: translateY(-150px);
   -o-transform: translateY(-100px);
   -ms-transform: translateY(-150px);
   transform: translateY(-150px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.image2 .mainpa {
   -webkit-transform: translateY(150px);
   -moz-transform: translateY(100px);
   -o-transform: translateY(100px);
   -ms-transform: translateY(100px);
   transform: translateY(100px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
.image2:hover img {
  overflow: hidden;
    position: relative;
   -webkit-transform: scale(1.1,1.1);
   -moz-transform: scale(1.1,1.1);
   -o-transform: scale(1.1,1.1);
   -ms-transform: scale(1.1,1.1);
   transform: scale(1.1,1.1);
}
.image2 .info {

   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.image2:hover .mask {
    border-radius: 10px;
       position: absolute;
          -webkit-transform: translateY(-220px);
   -moz-transform: translateY(-220px);
   -o-transform: translateY(0-22px);
   -ms-transform: translateY(-220px);
   transform: translateY(-220px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
.image2:hover .h,
.image2:hover .mainpa
{
-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
}
.image2:hover .mainpa.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translateY(50px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(50px);
}
.image2:hover p {
   -webkit-transition-delay: 0.1s;
   -moz-transition-delay: 0.1s;
   -o-transition-delay: 0.1s;
   -ms-transition-delay: 0.1s;
   transition-delay: 0.1s;
}
.footmain
{
margin-top: 10px;
background-color: black;
}
.name2
{
    background-color: #F1F1F1;
}

@media(max-width: 780px) {
    .container2inline
{
        border-bottom: 1px solid #DCDBDB;
        padding: 0px 21px
}

.button3
{    
    padding: 5px 8px;
    float: none;
    border-radius: 0px;
    background: #08ABE1;
    border: 0px;
    color: black;
    margin-bottom: 10px;
}
.button3:hover
{
    padding: 5px 8px;
    float: none;
    border-radius: 0px;
    background-color: #08ABE1 !important;
    border: 0px;
    color: black;
}
.button3:after
{
    padding: 5px 8px;
    float: none;
    border-radius: 0px;
    background-color: #08ABE1 !important;
    border: 0px;
    color: black;
}
.button3:active
{
    padding: 5px 8px;
    float: none;
    border-radius: 0px;
    background-color: #08ABE1 !important;
    border: 0px;
    color: black;
}
.button3:before
{
    padding: 5px 8px;
    float: none;
    background-color: #08ABE1 !important;
    border: 0px;
    border-radius: 0px;
    color: black;
}

}

@media(max-width: 480px) {
    .price
{
     float: none;
}

.button3
{    
    padding: 5px 8px;
    float: none;
    border-radius: 0px;
    background: #08ABE1;
    border: 0px;
    color: black;
    margin-bottom: 10px;
}
.button3:hover
{
    padding: 5px 8px;
    float: none;
    border-radius: 0px;
    background-color: #08ABE1 !important;
    border: 0px;
    color: black;
}
.button3:after
{
    padding: 5px 8px;
    float: none;
    border-radius: 0px;
    background-color: #08ABE1 !important;
    border: 0px;
    color: black;
}
.button3:active
{
    padding: 5px 8px;
    float: none;
    border-radius: 0px;
    background-color: #08ABE1 !important;
    border: 0px;
    color: black;
}
.button3:before
{
    padding: 5px 8px;
    float: none;
    background-color: #08ABE1 !important;
    border: 0px;
    border-radius: 0px;
    color: black;
}
}