<footer>
  <div class="container-fluid" style="background-color:#363739;padding-top:3%;padding-bottom:3%;">
      <div class="col-md-3 col-sm-6 col-xs-12">
          <img src="<%= image_path 'n2me-logo-box.png' %>">
            <p style="color:#ccc;font-size:13px;line-height:2;margin-top:15px;">On demand access to all your favorite shows on over 350 live streaming TV Channels. Access to thousands of Movies, Games, Concerts, Live Boxing Events, and E-Books...Buy a Package or pay per Channel! Prices starting at $0.99!</p>
        </div>
        
         <div class="col-md-3 col-sm-6 col-xs-6">
          <h4 style="color:#ccc;border-bottom: 1px dashed;display: inline-block;padding-bottom: 5px;">Latest Blog Post</h4>
            <ul class="list-unstyled foot-li2">
              <li>
                  <div class="col-md-4 col-sm-4 col-xs-4 no-pad">
                      <img src="img/portfolio/1.jpg" style="width:80px;height:80px;">
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8 " style="color:#ccc">
                      <h4 style="color:#fff;font-size:15px;margin:0px;"> Live Tv Channels </h4> 
                        <p style="font-size:13px;">Live Streaming Sports Channels including...<br/>
ESPN, ESPN Classic, Fox Sports Channels, and many more.</p>
                        <!--<p style="font-size:13px;"> By John DoeMay 15 </p>-->

                    </div>
                
                </li>
               <li>
                  <div class="col-md-4 col-sm-4 col-xs-4 no-pad">
                      <img src="img/portfolio/2.jpg" style="width:80px;height:80px;">
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8" style="color:#ccc">
                      <h4 style="color:#fff;font-size:15px;margin:0px;">News &amp; Sports </h4> 
                        <p style="font-size:13px;"> Live Streaming News Channels Including...<br/>
CNN, CNBC, MSNBC, &amp; Fox News.  </p>
                        

                    </div>
                
                </li>
                
                <li>
                  <div class="col-md-4 col-sm-4 col-xs-4 no-pad">
                      <img src="img/portfolio/3.jpg" style="width:80px;height:80px;">
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8" style="color:#ccc">
                      <h4 style="color:#fff;font-size:15px;margin:0px;"> Live Events </h4> 
                        <p style="font-size:13px;"> Live Streaming Events From Around the World Including....<br/>
Boxing Matches, Concerts, MMA Fights, Festivals, &amp; All Other Sporting Events. </p>
                       
                    </div>
                
                </li>
                
                
                
            </ul>
        </div>
        
        <div class="col-md-3 col-sm-6 col-xs-6" style="color: #ccc;padding-left: 45px;">
          <h4 style="border-bottom: 1px dashed;display: inline-block;padding-bottom: 5px;">N2ME.TV Services</h4>
            <ul class="list-unstyled foot-li">
              <li>Live TV</li>
                <li>News</li>
                <li>Sports</li>
                <li>Live Events</li>
                <li>Online Gaming</li>
                <li>E-Books</li>
                <li>Top TV Shows</li>
                
            </ul>
        </div>
       
        <div class="col-md-3 col-sm-6 col-xs-12">
          <h4 style="color:#ccc;border-bottom: 1px dashed;display: inline-block;padding-bottom: 5px;">Need Help</h4>
              <ul class="list-unstyled foot-li">
              <li>Contact Us </li>
               <li>Tech Support </li>
               <li><a href="http://n2me-test.herokuapp.com/users/sign_in">My Account</a></li>
               <li>Legal</li>
               <li>Privacy </li>
               <li>Documentation</li>
               
               
            </ul>
   
        </div>
        
    </div>
    
        <div class="col-md-12 col-sm-12 col-xs-12" style="background-color:#292A2C;">
          
          <div class="col-md-6 col-sm-6 col-xs-6 ">
                <p style="font-size:11px;margin:0px;padding-top:10px;color:#626262;">
                Copyright © 2016 SuperCloud Inc. All rights reserved.
                </p>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <p style="text-align:right;font-size:25px;margin:0px; letter-spacing:6px;color:#626262;">
                <i class="fa fa-facebook face"></i>
      <i class="fa fa-linkedin  linkd"></i>
      <i class="fa fa-twitter twit"></i>
                <i class="fa fa-pinterest pint"></i>


                </p>
            
            </div>
        
        </div>
</footer>