<header id="rt-top-surround">
				<div id="rt-top" class="">
					<div class="rt-container">
				<div class="rt-grid-4 rt-alpha">
               <div class="rt-block nopaddingtopbottom jmoddiv">
           	<div class="module-surround">
	           		                	<div class="module-content">
	                		

<div class="customnopaddingtopbottom">
	<div id="hid1">&nbsp; <a href="/products">Register </a><%= link_to 'Log In/Out', profile_path %><a href="#">| Contact</a> | <a href="#">Help</a></div></div>
	                	</div>
                	</div>
           </div>
	
</div>
<div class="rt-grid-4">

</div>
<div class="rt-grid-4 rt-omega">
               <div class="rt-block  nopaddingtopbottom align-right nomargintopbottom  jmoddiv">
           	<div class="module-surround">
	           		                	<div class="module-content">
	                		

<div class="custom nopaddingtopbottom align-right nomargintopbottom ">
	<div id="hid" class="rt-social-buttons">
    <a class="social-button rt-social-button-1" href="https://www.facebook.com/n2metv" target="_blank"><i class="fa fa-facebook"></i></a>
    <a class="social-button rt-social-button-2" href="https://twitter.com/N2meTV" target="_blank"><i class="fa fa-twitter"></i></a>
    <a class="social-button rt-social-button-3" href="https://plus.google.com/u/0/103265953848860159549/posts" target="_blank"><i class="fa fa-google-plus"></i></a>
    <a class="social-button rt-social-button-4" href="https://instagram.com/n2metv" target="_blank"><i class="fa fa-instagram"></i></a>
    <a class="social-button rt-social-button-6" href="https://www.pinterest.com/n2metv/" target="_blank"><i class="fa fa-pinterest"></i></a>
    <div class="clear"></div>
</div></div>
	                	</div>
                	</div>
           </div>
	
</div>
				<div class="clear"></div>
			</div>
				</div>
						<div id="rt-header" class="" style="height: 103px;">
							<div class="rt-container">
					<div class="rt-grid-2 rt-alpha">
            <div class="rt-block logo-block">
            <a href="/" id="rt-logo" style="width:220px;height: 55px;">&nbsp;</a>
            <div style="color: #fff; width: 400px !important;">&nbsp;&nbsp;Powered by SuperCloud and brought to you by Hollywood TV</div>
        </div>
        
</div>
<div class="rt-grid-8">
    	<div class="rt-block menu-block">
		
		<div class="clear"></div>
	<ul class="gf-menu l1 ">
                    <li class="item101 italic">

            <a class="item" href="/">

                                Home                            </a>


                    </li>
                            <li class="item231">

           <%= link_to 'Log In/Out', profile_path %>


                    </li>
                            <li class="item251">

            <a class="item" href="/products">

                                Join                            </a>


                    </li>
                            <li class="item323 parent active">

            <a class="item image subtext" href="/categories">

                                    <img class="menu-image" src="http://www.n2me.tv/stream/templates/wt_plussone_jom/images/icons/icon-monitor.png" alt="icon-monitor.png">
                                Browse<em>Live TV, Movies, Games, Music, &amp; Live Events</em>                                <span class="border-fixer"></span>
                            </a>


            
                                    <div class="dropdown columns-3 " style="width:320px;">
                                                <div class="column col1" style="width:125px;">
                            <ul class="l2">
                                                                                                                    <li class="item227 active last">

            <a class="item" href="/categories/1422405890">

                                Live TV                            </a>


                    </li>
                                                                                                                                                                <li class="item228">

            <a class="item" href="/categories/1423429519">

                                Movies                            </a>


                    </li>
                                                                                                        </ul>
                        </div>
                                                <div class="column col2" style="width:97px;">
                            <ul class="l2">
                                                                                                                    <li class="item229">

            <a class="item" href="/categories/1422405926">

                                Gaming                            </a>


                    </li>
                                                                                                                                                                <li class="item250">

            <a class="item" href="/music">

                                Music                            </a>


                    </li>
                                                                                                        </ul>
                        </div>
                                                <div class="column col3" style="width:97px;">
                            <ul class="l2">
                                                                                                                    <li class="item230">

            <a class="item" href="/categories/1423429520">

                                Events                            </a>


                    </li>
                                                                                                                                                                <li class="item322">



                    </li>
                                                                                                        </ul>
                        </div>
                                            </div>

                                    </li>
            </ul></div>
	
</div>
<div class="rt-grid-2 rt-omega">
               <div class="rt-block  module_rokajaxsearch textright jmoddiv">
           	<div class="module-surround">
	           		                	<div class="module-content">
<form action="/search" class="uk-form"><fieldset><select class="uk-margin-small-top" name="category"><option value="">All Content</option>
<div class="rokajaxsearch  module_rokajaxsearch textright">
	<div class="roksearch-wrapper">

<option value="1428037784">A la carte Channels</option>
<option value="1468997596">Action</option>
<option value="1423429548">Action &amp; Adventure</option>
<option value="1469509618">Action Adventure</option>
<option value="1468997598">Adventure</option>
<option value="1422405909">Broadcast</option>
<option value="1423429518">Cloud French</option>
<option value="1422405887">Cloud International</option>
<option value="1423429517">Cloud Latino</option>
<option value="1423429550">Comedy</option>
<option value="1423429551">Drama</option>
<option value="1422405910">Featured Live TV</option>
<option value="1422405926">Games</option>
<option value="1422405912">Historical</option>
<option value="1422405913">Horror</option>
<option value="1422917788">Kids &amp; Family</option>
<option value="1422917786">News Channels</option>
<option value="1423429521">Premium Movie Channels</option>
<option value="1422917787">Premium VOD</option>
<option value="1468997599">Role Playing</option>
<option value="1422405915">Sci-fi</option>
<option value="1469509617">Shooter</option>
<option value="1468997600">Simulation</option>
<option value="1468997602">Sports</option>
<option value="1422405888">Sports Channels</option>
<option value="1468997601">Strategy</option>
<option value="1422405886">International</option>
<option value="1422405890">Live TV</option>
<option value="1423429520">Events</option>
<option value="1423429519">Movies</option></select><input class="inputbox roksearch_search_str" name="query" placeholer="Search..." type="text"></fieldset>
	</div>

	</form>
</div>
<div id="rokajaxsearch_tmp" style="visibility:hidden;display:none;"></div>
	                	</div>
                	</div>
           </div>
	
</div>
					<div class="clear"></div>
				</div>
					</div>
			</header>